body {
  font-family: 'ff-enzo-web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  line-height: 1.5;
  background-color: #FAF9F9;
  color: #555B6E;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

@media screen and (min-width: 60em) {
  body {
    font-size: 20px;
  }
}

h1,
h2,
h3 {
  font-weight: normal;
}

.wf-active,
.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-weight: 600;
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  text-decoration: none;
  border-bottom: 1px solid #89B0AE;
  color: #89B0AE;
}

a:hover,
a:active,
a:focus {
  color: #BEE3DB;
  border-bottom-color: #BEE3DB;
}

.row--blue a:link,
.row--dark-blue a:link,
.row--blue a:visited,
.row--dark-blue a:visited {
  color: #BEE3DB;
  border-bottom-color: #BEE3DB;
}

.row--blue a:hover,
.row--dark-blue a:hover,
.row--blue a:active,
.row--dark-blue a:active,
.row--blue a:focus,
.row--dark-blue a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

code {
  font-family: Consolas, Menlo, Courier, monospace;
  font-weight: normal;
  font-size: 0.9em;
}

.code-block,
.hljs {
  background-color: #fff;
}

.code-block code {
  font-size: 15px;
}

.row--blue .code-block {
  background-color: #7C9F9D;
}

.hljs {
  padding: 0;
}

pre {
  line-height: 1.4;
  padding: 1em;
  display: block;
  overflow-x: auto;
}

.center {
  text-align: center;
}

.row--dark-blue {
  background-color: #555B6E;
  color: #FAF9F9;
}

.row--blue {
  background-color: #89B0AE;
  color: #FAF9F9;
}

.container {
  padding: 1em;
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin: 1em;
}

.anchorjs-link:link,
.anchorjs-link:visited {
  border-bottom: none;
}

.small {
  font-size: .875em;
}
